h2,h5 {
    padding: 2px;
    margin: 0;
    text-align: center;
    font-size: 95%;
    text-transform: uppercase;

}
 
h3 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
}
.container {
width: 1080px;
margin: 5px auto;
}
#teacherInfo {
    padding: 5px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    font-size:90%;
    text-transform: uppercase;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}


table {
width: 94%;
margin : 10px auto;
border-collapse: collapse;
font-size: 10px;
}
.table-footer {
width: 94%;
margin : 10px auto;
border-collapse: collapse;
font-size: 11px;
text-transform: uppercase;
color: black;
}
th, td {
border: 1px solid black;
padding: 2px 8px;
text-align: left;
}
.details-tb td:nth-child(2) {
border: 1px solid black;
padding: 6px;
text-align: left;
}
.tb_footer {
margin: 10px;
font-size: 16px;
font-weight: bold;
color: black;
}
.details-tb td:nth-child(1),.details-tb td:nth-child(2),.details-tb td:nth-child(3),.details-tb td:nth-child(4), .details-tb td:nth-child(5) {
width: 14%;
text-transform: uppercase;
font-weight: bold;
color :black;
text-align: center;
font-size: 65%;
}
.details-tb td:nth-child(7) {
text-transform: uppercase;
width: 24%;
font-weight: bold;
color :black;
text-align: center;
font-size: 65%;
}
.details-tb td:nth-child(6) {
text-transform: uppercase;
width: 18%;
font-weight: bold;
color :black;
text-align: center;
font-size: 65%;
}
.sylabus-tb td:nth-child(1){
font-size: 12px;
width: 24%;
text-transform: uppercase;
color: black;
font-weight: bold;
}
.sylabus-tb td:nth-child(2){
font-size: 10px;
color: black;
}
.student-tb th {
font-size: 10px;
text-transform: uppercase;
text-align: center;
color: black;
}
.student-tb td {
font-size: 10px;
text-transform: uppercase;
height : 3px;
color: black;
}

.lesson-tb th {
text-align: center;
text-transform: uppercase;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 10px;
}


.lesson-tb td:nth-child(1) {
text-align: left;
font-size: 10px;
width: 18%;
text-transform: uppercase;
color: black;
font-weight: bold;
padding: 4px;
}
.lesson-tb td:nth-child(2) {
text-align: left;
width: 30%;
padding: 4px;
font-size: 10px;
text-transform: capitalize;
}
.lesson-tb td:nth-child(3) {
text-align: left;
width: 26%;
padding: 4px;
font-size: 10px;
text-transform: capitalize;
}
.lesson-tb td:nth-child(4) {
text-align: left;
width: 25%;
padding: 4px;
font-size: 10px;
text-transform: capitalize;
}

.userInput {
padding: 10px;
margin: 10px auto;

}
.syllbDetails, .topDetails,.impWord {
padding: 15px;
margin: 5px auto;
background-color: red;
width: 96%;
border-radius :10px;
}
.topDetails input,.syllbDetails input,.impWord input {
margin: 10px;
padding: 10px 38px;
width: 200px;
border-radius: 6px;
border: none;
outline: none;
}
.syllbDetails select, .topDetails select,.impWord select {
margin: 10px;
padding: 10px 10px;
width: 200px;
border-radius: 6px;
border: none;
outline: none;
}
.topDetails ::placeholder,.impWord ::placeholder,.syllbDetails ::placeholder{
text-transform: capitalize;
color: grey;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;

}
.topDetails #date {
text-transform: uppercase;
font-weight: bold;
color: grey;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.syllbDetails select, .topDetails select,.impWord select {
text-transform: capitalize;
font-weight: bolder;
color: grey;
font-size: 16px;
}
.syllbDetails option, .topDetails option,.impWord option {
background-color :black;
color: white;
}
#submit {
padding: 10px;
margin: 10px;
width: 300px;
border : none;
background-color:rgb(24, 103, 24);
border-radius: 8px;
font-size: 16px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
font-weight: bolder;
color:rgb(255, 255, 255);
}

h4 {
padding: 5px;
margin: 5px;
font-size: 100%;
text-align: left;
color:rgb(248, 247, 249);
line-height: 15px;
text-transform: capitalize;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
#introTitle1 {
margin :5px;
padding : 5px;
text-transform : uppercase;
font-family : arial black;
font-size: 130%;
}
#explainParagraph {
margin :5px;
padding : 5px;
text-transform : capitalize;
font-weight: 600;
font-size: 80%;
font-family : verdana;
}

.videopop, .backpop {
display : none;
position : fixed;
top : 0;
left :0;
width : 100%;
height : 100%;
background : rgba(0, 0, 10, 0.6);
z-index :999;
}

.videPopup,.popup {
display :  none;
position : absolute;
width : 50%;
height :50%;
padding : 3%;
top : 60%;
left : 50%;
transform : translate(-50%,-50%);
background : white;
border-radius : 4%;
box-shadow : 0 0 10px rgb(0,0,0,0.3);
}

.videClosetab,.closetab {
position : absolute;
top: 2%;
right : 5%;
cursor : pointer;
text-transform : uppercase;
font-size : 150%;
font-family : arial black;
font-weight : bolder;
}

.VidecontentPop,.contentPop {
padding :1%;
margin  : 1%;
text-transform : capitalize;
font-size : 70%;
height:70%;
}



#endContentAds {
display: none;
position : fixed;
top :0;
left:0;
width : 100%;
height :100%;
background : rgb(0,0,0,0.9);
z-index : 999;
}

.btnImp {
display: flex;
align-content :center;
align-items: center;
position: absolute;
left :50%;
top : 96%;
transform : translate(-50%,-96%);
padding: 10px;
margin : 5px;
width : 90%;
}

#buttonPopId {
display : block;
position : absolute;
top :50%;
left :50%;
transform : translate(-50%,-50%);
background : white;
width :60%;
height : 60%;
padding : 3%;
border-radius : 4%;
}

#downloadPdfBtn {
display: block;
padding: 5px;
margin: 5px;
width: 47%; 
height: 30px;
border-radius : 7px;
border : none;
outline : none;
background : black;
color : white;
text-transform: capitalize;
letter-spacing : 1px;
font-weight : bold;
font-size : 70%;

}
#refreshBtn {
display: none;
padding: 5px;
margin: 5px;
width: 47%; 
height: 30px;
border-radius : 7px;
border : none;
outline : none;
background : rgb(46, 58, 226);
color : white;
text-transform: capitalize;
letter-spacing : 1px;
font-weight : bold;
font-size : 70%;

}

#gotoEdit {
display :block;
position : absolute;
top: 11%;
right : 2%;
cursor : pointer;
transform : translate(-6%,-88%);
padding :5px;
margin :5px 5px;
font-size : 200%;
text-decoration : none;
font-family : arial black;
color : red;

}

@media screen and (max-width : 700px) {
.videPopup,.popup {
height :70%;
width : 84%;
}
.topDetails input,.syllbDetails input,.impWord input {
margin: 10px;
padding: 10px 38px;
width: 80%;
border-radius: 6px;
border: none;
outline: none;
}
.syllbDetails select, .topDetails select,.impWord select  {
margin: 10px;
padding: 10px 10px;
width: 90%;
border-radius: 6px;
border: none;
outline: none;
}
#downloadPdfBtn {
width: 90%;
font-size: 70%;
padding: 15px;
}
#buttonPopId {
width :84%;
}
.btnImp {
display: block;
}
#submit {
width: 99%;
font-size: 70%;
padding: 12px;
}

#downloadPdfBtn {
display: block;
padding: 5px;
margin: 5px;
width: 96%;
}
#refreshBtn {
display: none;
padding: 5px;
margin: 5px;
width: 96%;
}

}
@media screen and (max-width : 460px) {
.videPopup,.popup {
height : 70%;
width : 84%;
}
.topDetails input,.syllbDetails input,.impWord input {
margin: 10px;
padding: 10px 38px;
width: 70%;
border-radius: 6px;
border: none;
outline: none;
}
.syllbDetails select, .topDetails select,.impWord select  {
margin: 10px;
padding: 10px 10px;
width: 88%;
border-radius: 6px;
border: none;
outline: none;
}

#submit {
width: 99%;
font-size: 70%;
padding: 12px;
}
#buttonPopId {
width :83%;
}
.btnImp {
display: block;
}
#downloadPdfBtn {
display: block;
padding: 5px;
margin: 5px;
width: 96%;
}
#refreshBtn {
display: none;
padding: 5px;
margin: 5px;
width: 96%;
}   
}
@media screen and (max-width : 350px) {
.videPopup,.popup {
height :70%;
width : 80%;
}
.topDetails input,.syllbDetails input,.impWord input {
margin: 10px;
padding: 10px 38px;
width: 53%;
border-radius: 6px;
border: none;
outline: none;
}
.syllbDetails select, .topDetails select,.impWord select  {
margin: 10px;
padding: 10px 10px;
width: 86%;
border-radius: 6px;
border: none;
outline: none;
}


#submit {
width: 99%;
font-size: 70%;
padding: 12px;
}
#buttonPopId {
width :80%;
height :70%;
}
.btnImp {
display: block;
}
.btnImp {
display: block;
}
#downloadPdfBtn {
display: block;
padding: 5px;
margin: 5px;
width: 96%;
}
#refreshBtn {
display: none;
padding: 5px;
margin: 5px;
width: 96%;
}

}
